a.nav-link{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a.nav-link:hover{
    color: blue;
}

.brand-logo{
    width: 110px;
    height: auto;
}

.navbar-my{
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #212121;
}

.login{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.btn-outline-success{
    color: #337ab7;
    border-color: #337ab7;
}

.btn-outline-success:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary{
    background-color: #1526be;
    color: white;
    border-color: #1526be;
    border-radius: 100px;
}

.container{
    display:flex;
    justify-content: space-around;
}

.cards{
    display: flex;
    height: 280px;
    min-height: 280px;
}

.card-my{
    border: none;
}
